@model EntityLayer.Entities.Expense

@{
    ViewData["Title"] = "Gider Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ExpenseId" />

    <partial name="Create" />
</form>
